* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}