* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
